flask
Flask-CORS
fastapi
uvicorn
spacy
nltk
numpy
gensim
transformers
torch
scikit-learn
pypdf2
pdfplumber
pytesseract
opencv-python
pytest
sentence-transformers 
accelerate
beautifulsoup4
requests
fpdf
python-docx